<div class = "container my-3" style="width: 70rem;">
    
    <h1>Building the future we want to work in</h1>
    <br>
    <img src="https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">About me</h5>
      <p class="card-text">I create tools that promote more fulfilling ways to work and live. Reach out to me at <i><u>vishal.thakur607@gmail.com</u></i></p>
    </div>
  </div>